.item {
  text-align: center;
  display: flex;
  width: 100%;

  &__box {
    width: 100%;
  }

  &__options {
    display: flex;

    width: 100%;
  }
}

span {
  > i {
    width: 24px;
    cursor: pointer;
  }

  padding: 0.3em;
}

.trash {
  color: #d51212;

  &:hover {
    color: #a40f0f;
  }
}

.edit {
  color: #565656;

  &:hover {
    color: black;

  }


}
